@using Microsoft.AspNetCore.Identity
@using CoreClean.Web.Helpers
@using System.Security.Claims
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<input type="hidden" id="LoggedIn" value="@SignInManager.IsSignedIn(User)" />

<ul class="navbar-nav" >
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = new Guid(User.FindFirstValue(ClaimTypes.NameIdentifier));
        
        <li class="nav-item " style="margin-right:20px;">
            <button type="button" id="bell" class="btn btn-primary position-relative">
                <i class="bi bi-bell-fill notification-icon" style="display: none"></i>
                <div class="spinner-grow spinner-grow-sm notification-loader" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger notification-count-circle">
                    <span class="notification-count">-</span>
                    <span class="visually-hidden">unread messages</span>
                </span>
            </button>
            <div class="notifications" style="display: none" id="box">
                <h2>Notifications - <span class="notification-count">0</span><button type="button" id="clear-notifications" style="display: inline-block; float: right; font-size: 8px;" class="btn btn-danger btn-sm">Clear all</button></h2>
                
                <div id="notifications-container">

                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">

                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Hello @(UserManager.GetUserAsync(User).Result.FirstName)!
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" asp-controller="Profile" asp-action="ViewProfile" asp-route-id="@userId">Manage Profile</a></li>
                    <li><a class="dropdown-item" asp-controller="Photo" asp-action="UserIndex">My Photos</a></li>
                    <li><a class="dropdown-item" asp-controller="Photo" asp-action="Create">Add Photo</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

    
