@model IEnumerable<CoreClean.Domain.Models.Photo>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User))
{
    @if(Model.Any())
    {
    <div class="col-md-12">
    <div class="row">
        <div class="gal">
        @foreach (var item in Model)
        {
                <figure class="hover-box text-white">
                    <img src="~/upload/photos/@Html.DisplayFor(modelItem => item.Name)" alt="hover-box-first" class="p-0" />
                    <figcaption class="text-right">
                        <h3 class="bg-info p-1 mb-1">@item.Title</h3>
                        <h4><small class="text-muted">by</small> @item.User.FirstName</h4>
                    </figcaption>
                    <a asp-action="Details" asp-route-id="@item.Id"></a>
                </figure>
        }
    </div>
    </div>
        </div>
    } else
    {
        <div class="align-items-center justify-content-center text-center pt-4">
            <h3>You don't follow anyone</h3>
        </div>
    }
}
else
{
    <div class="align-items-center justify-content-center text-center pt-4">
        <h3 class="pb-2 mb-4">You must login in order to view the followers photos</h3>
        <button class="btn btn-primary p-0" style="width:20%;"><a class="nav-link " style="text-decoration:none; color:white" asp-area="Identity" asp-page="/Account/Login">Login</a></button>
    </div>
}

<style>
    .gal {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }

        .gal img {
            width: 100%;
            padding: 7px 0;
        }

    @@media (max-width: 500px) {

        .gal {
            -webkit-column-count: 1; /* Chrome, Safari, Opera */
            -moz-column-count: 1; /* Firefox */
            column-count: 1;
        }
    }

    @@media (max-width: 900px) {
        .gal {
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
        }
    }
</style>