@model IEnumerable<CoreClean.Domain.Models.Photo>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4 img__wrap my-1">
                <figure class="hover-box bg-dark text-white">
                    <img src="~/upload/photos/@Html.DisplayFor(modelItem => item.Name)" alt="hover-box-first" class="w-100" />
                    <figcaption class="text-right">
                        <h3 class="bg-info p-1 mb-1">@item.Title</h3>
                        <h4><small class="text-muted">by</small> @item.User.FirstName</h4>
                    </figcaption>
                    <a asp-action="Details" asp-route-id="@item.Id"></a>
                </figure>
            </div>
        }
    </div>
}
else
{
    <div class="align-items-center justify-content-center text-center pt-4">
        <h3 class="pb-2 mb-4">You must login in order to view photos added to favorites</h3>
        <button class="btn btn-primary p-0" style="width:20%;"><a class="nav-link " style="text-decoration:none; color:white" asp-area="Identity" asp-page="/Account/Login">Login</a></button>
    </div>
}
