@model IEnumerable<CoreClean.Domain.Models.Album>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("User") || User.IsInRole("Admin"))
{
    @if (Model.Any())
    {
        <h1>Your albums</h1>
        <p>
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </p>
        <hr />
        <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" data-masonry='{"percentPosition": true }'>
        @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" src="~/upload/photos/@Html.DisplayFor(modelItem => item.Photos.ElementAt(0).Name)" width="100%" height="300" />

                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">View</a>
                                    <a class="btn btn-sm btn-outline-danger"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
            
        </div>
    }
    else
    {

        <div class="align-items-center justify-content-center text-center pt-4">
            <h3>You don't have any album</h3>
            <p>
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            </p>
        </div>

    }


        

}
else
{
    <div class="align-items-center justify-content-center text-center pt-4">
        <h3 class="pb-2 mb-4">You must login in order to create/view your albums</h3>
        <button class="btn btn-primary p-0" style="width:20%;"><a class="nav-link " style="text-decoration:none; color:white" asp-area="Identity" asp-page="/Account/Login">Login</a></button>
    </div>
}
<style>
    .cardModel {
        background-color: #E8EAF6;
    }

    img {
        float: left;
        width: 100px;
        height: 150px;
        object-fit: cover;
    }
</style>
